%hr#about
%h3 Meet The Team.
.row
  .span2
    = image_tag "bio_pics/matt.jpg"
  .span2
    %h4 Matthew Wickman
    %h6 Sales
  .span2
    = image_tag "bio_pics/alex.jpg"
  .span2  
    %h4 Alex Lewis
    %h6 Programmer
  .span2
    = image_tag "bio_pics/brian.jpg"
  .span2
    %h4 Brian Chia
    %h6 Product Development
