%hr#contact
.row-fluid
  .span6
    %h3 Contact Us
    %h5 Fill out this simple form, we're ready to work with you!
.row-fluid
  %form.span6.well{'accept-charset'=>'UTF-8', :action=>'/potential_clients',
        :class=>'form-horizontal', :method=>'post'}
    .control-group
      %label.control-label{:for=>'name'} Name
      .controls
        %input#name{:type=>'text', :name=>'potential_client[name]'}
    .control-group
      %label.control-label{:for=>'email'} Email
      .controls
        %input#email{:type=>'text', :name=>'potential_client[email]'}
    .control-group
      %label.control-label{:for=>'phone'} Phone
      .controls
        %input#phone{:type=>'text', :name=>'potential_client[phone]'}
    .control-group
      %label.control-label{:for=>'description'} Message
      .controls
        %textarea#description{:name=>'potential_client[project_description]'}
    .control-group
      .controls
        %button#submit{ "type" => "submit", "class" => "btn btn-primary" }
          Contact Us
