.hero-unit
  %h2#pitch We'll tackle any problem.
  %p
    pause||break creates custom web solutions for businesses of any size or
    scale.
  %p
    Whether you need a simple web presence, a custom mobile site or app, an
    e-commerce platform, or a full-blown web application, we're ready to work
    with
    %strong your business
    to bring your ideas to fruition.

.row
  .span12
    %h2 Experienced in high-traffic web applications
    %p
      In today's world, technology is no longer just an added bonus -- it
      has become a necessity for any business. pause||break has a team of
      technology aficionados who stay on the forefront of internet marketing
      and web development, so you don't have to.
  .span12
    %p
      With extensive experience in development, web marketing, graphic
      design, and user interface creation, pause||break creates simple yet
      powerful web solutions with an emphasis on the bottom line: creating
      the optimal user experience and helping your business grow.

  .span12
    %h2 Have a special project in mind?
    %p
      We understand that not everyone has the time or desire to keep up with
      the latest technologies or trends. Our passion for technology drives us
      to make it accessible to everyone. 

    %p How can we help your business?

-#.logo-block
  .row
    .span6.offset3
      %h4 Proudly powered by:
  .row
    .span2.offset3
      = image_tag "heroku-logo-light-234x60.png"
    .span2
      = image_tag "rails.png"
    .span2  
      = image_tag "github_logo_social_coding_outlined.png"
