.hero-unit{:style=>'text-align:center;'}
  %h2#pitch We'll tackle any problem.
  %p
    pause||break crafts web solutions for businesses of any size or scale.
  %p
    We're ready to work with
    %strong your business
    to bring your ideas to fruition.
  %p
    %a.btn.btn-large.btn-success{:href=>'#contact'} Get in touch today

