.container
  %h1 Meet the team.
  .row
    .span2
      = image_tag "bio_pics/matt.jpg"
    .span2
      %h3 Matthew Wickman
      %h5 Co-founder
      %h6 Sales, Client Relations
      %p 
        Matthew graduated with honors from the University of Tennessee with a 
        bachelor's in Enterprise Management and a minor in Physics.
        He has a passion for matching business needs with technology solutions.
        Matthew also loves to travel and has visited over 20 different countries!
    .span2
      = image_tag "bio_pics/alex.jpg"
    .span2  
      %h3 Alex Lewis
      %h5 Co-founder
      %h6 Lead programmer
      %p
        Alex's first brush with programming was at the age of 12,
        when he began experimenting with Javascript and HTML.
        Alex is a lover of test-driven development, Ruby, and
        all things data-driven.
    .span2
      = image_tag "bio_pics/brian.jpg"
    .span2
      %h3 Brian Chia
      %h5 Co-founder
      %h6 UX, product development
      %p
        A born hacker, Brian is a technology and gadget nut with a demand
        for quality and a passion for usability. In addition to IT,
        web and graphic design, he has also worked as a photographer
        and strength and conditioning trainer.