.container
  .hero-unit
    %h1 Hello, world.
    %h2 Pause Break has arrived.
  .row
    .span4
      %h2 Experienced in high-traffic web applications
      %p Tested, reliable software.
    .span4
      %h2 We're building exciting things.
      %p Like Buddy Balance.
    .span4
      %h2 Have a special project in mind?
      %p
        = link_to "Contact Us »", contact_path, :class => "btn btn-primary btn-large"
