.navbar.navbar-fixed-top
  .navbar-inner
    .container
      %a.btn.btn-navbar{ "data-toggle" => "collapse", "data-target" => ".nav-collapse"}
        %span.icon-bar
        %span.icon-bar
      %a.brand
        = image_tag("pb36trans.png")
      .nav-collapse
        %ul.nav
          = nav_link "Home", home_path
          = nav_link "About", about_path
          = nav_link "Contact", contact_path
          