.home  
  #header
    %ul
      %li
        %a(href="#") Home
      %li
        %a(href="#") About
      %li
        %a(href="#") Contact
  #middle
    #bglayer 
    #container
      #logo 
      #tagline
        %h1 Have an idea? Let us help you bring it to fruition.
        %h2 pause|break engineers web based solutions for your business.
      #features
        %ul
          %li
            %h3 Who we are.
            Text about us.
            Nam semper congue rutrum. Proin egestas pulvinar mauris at lacinia. Pellentesque euismod fringilla vehicula. Praesent urna nisl, varius non interdum eget, porttitor at arcu. Mauris lectus arcu,
          %li
            %h3 What we do.
            Phasellus elementum rhoncus enim ac tristique. Donec massa diam, pulvinar vel ultrices at, ornare sit amet orci. Nam semper congue rutrum. Proin egestas pulvinar mauris at lacinia.
          %li
            %h3 Why pause|break?
            Donec massa diam, pulvinar vel ultrices at, ornare sit amet orci. Nam semper congue rutrum. Proin egestas pulvinar mauris at lacinia. Pellentesque euismod fringilla vehicula. Praesent urna nisl, varius non interdum eget, porttitor at arcu.
          %li
            %h3 Interested?
            Nam semper congue rutrum. Proin egestas pulvinar mauris at lacinia. Pellentesque euismod fringilla vehicula. Praesent urna nisl, varius non interdum eget, porttitor at arcu. Mauris lectus arcu,
  #footer Copyright #{DateTime.now.year} pause|break