// Place all the styles related to the StaticPages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

body {
  position: relative;
  background-color: #fff;
  background-image: url(grid-18px-masked.png);
  background-repeat: repeat-x;
  background-position: 0 40px;
  padding-top: 60px;
  padding-bottom: 40px;
}

a.brand {
  padding: 2px 20px 2px 0px !important;
  margin: 0 !important;
}

@import "bootstrap";
@import "bootstrap-responsive";

textarea {
  height: 10em;
}

.logo-block {
  img {
    height: 100%;
    margin: 10px 20px;
  }
  height: 40px;
  text-align: center;
  vertical-align: bottom;
}

footer {
  text-align: center;
}